target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
*.nbparts
*.xml
*.prefs
*.project
.nb-gradle-properties

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### SQLite / 内存数据库 ###
# 防止 SQLite 文件和内存数据库路径被误提交
*.db
*.sqlite
*.sqlite3
